<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @notice.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @notice.content %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @notice.admin %>
</p>

<div>
  <%= link_to image_tag(@notice.image.url), @notice.image.url, target: '_blank' %>
</div>

<%= link_to 'Edit', edit_notice_path(@notice) %> |
<%= link_to 'Back', notices_path %>
