<body>
    
    <%= render partial: "layouts/site_shared/topbar" %>
    <!-- Page Content -->

	<a  name="noticias" id="noticias"></a>
    <div class="content-section-a">
        <div class="container">
            <div class="row">
	            <div class="col-lg-12">
	                <h2 class="page-header">Fique por dentro de nossas novidades!</h2>
	            </div>
            <% @notices.last(6).reverse.each do |n| %>
	            <div class="col-md-4 col-sm-6">
	                <%= link_to notice do %>
	                    <%= link_to image_tag(n.image.url(:thumb), class:'img-responsive img-portfolio img-hover'), n.image.url, target: '_blank' %>
	                <% end %>
                    <%= n.title %>
                    <% if admin_signed_in? %>
                        <%= link_to 'Editar', edit_notice_path(n), class:"btn btn-success", type:"button" %>
                        <%= link_to 'Apagar', n, method: :delete, data: { confirm: 'Você tem certeza?' }, class:"btn btn-danger", type:"button" %>
                    <%end %>
	            </div>
            <% end %>
                <div class="row">
                    <%= link_to 'Leia mais...', news_path, class:"btn btn-danger pull-right", type:"button" %>
    	        </div>
            </div>
            
        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
    <a  name="materiais" id="materiais"></a>
    <div class="content-section-a vermelho">

        <div class="container">

           <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header text-muted">
                    Realize o download de nossos materiais
                </h1>
            </div>
            <% @materials.reverse.each do |m| %>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"></i> <%= m.name %></h4>
                    </div>
                    <div class="panel-body">
                        <% if admin_signed_in? %>
                        <%= button_to "Deletar",  m, method: :delete, class: "btn btn-danger", confirm: "Você tem certeza que quer deletar o #{m.name}?" %>
                        <% end %>
                        <%= link_to "Download #{m.name}", m.attachment_url %>
                    </div>
                </div>
            </div>  
            <% end %>
            <% if admin_signed_in? %>
            <%= link_to "Upload de arquivo", new_material_path, class: "btn btn-danger", type: "button" %>
            <% end %>
         </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
<%= render partial: "layouts/site_shared/footer" %>


</body>

</html>
