<% if !flash[:notice].blank? %>
   <div class = "alert alert-info">
      <%= flash[:notice] %>
   </div>
<% end %>

<br />

<%= link_to "New material", new_material_path, class: "btn btn-primary" %>
<br />
<br />

<table class = "table table-bordered table-striped">
   <thead>.
      <tr>
         <th>Name</th>
         <th>Download Link</th>
         <th> </th>
      </tr>
   </thead>
   
   <tbody>
      <% @materials.each do |material| %>
         
         <tr>
            <td><%= material.name %></td>
            <td><%= link_to "Download material", material.attachment_url %></td>
            <td><%= button_to "Delete",  material, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{material.name}?" %></td>
         </tr>
         
      <% end %>
   </tbody>
   
</table>