<!DOCTYPE html>
<html>
  <head>
    <title>Gametec - Admin</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag    'admin', media: 'all' %>
    
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'admin' %>

  </head>

  <body>
    <%= yield %>
    
    <%= render partial: "layouts/admin_shared/press-start" %>
  </body>
</html>

<% flash.each do |key,value| %>
  <script>
    $.notify("<%= value %>", "error")
  </script>
<% end %>

